@media screen and (max-width: 900px)
{
    .canvas_left, .canvas_right{
        width: 200px; 
        height: 800px;
    }
    .footer .footerContent{
        width: 65%;
    }
    .footer .footerContent .footerContentLogo img
    {
    height: 60%;
    }
    .jacketTrinity .contentJacketTrinity h2
    {
        /* border: 1px solid yellow; */
        font-size: 20px;
        margin-top: -40px;
    }
}
@media screen and (max-width: 810px)
{
    .information .contentInfo
    {
        /* border: 1px solid blue; */
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .information .contentInfo .infoContent
    {
        /* border: 1px solid red; */
        width: 45%;
    }
    .information .contentInfo .infoContent p
    {
        /* border: 1px solid red; */
        font-size: 18px;
    }
}
@media screen and (max-width: 750px)
{
    /* HEADER */
    header nav ul li a
    {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    }
    .canvas_left, .canvas_right{
        width: 100px; 
        height: 800px;
    }
    /* BIOGRAPHIE */
    .bioContent .contentTxtBio .txtBio
    {
        width: 60%;
        
    }
    .bioContent .contentTxtBio .txtBio p
    {
        font-size: 16px;
    }
    /* CD*/
    .cdContent
    {
        /* border: 1px solid green; */
        text-align: center;
        margin-bottom: 100px;
    }
    /* Tournee */
    .tourneeContent
    {
        /* border: 1px solid green; */
        text-align: center;
        margin-bottom: 100px;
    }
    /* CSS ALBUM */
    /* description */
    .desAlbum .contentDesAlbum
    {
        /* border: 1px solid blue; */
        width: 60%;
        text-align: justify;
    }
    .desAlbum .contentDesAlbum p 
    {
        font-size: 16px;
    }
    .information .contentInfo .infoContent
    {
        /* border: 1px solid red; */
        width: 60%;
    }
    /* Billeterie section cover */
    .imageCover .contentCover .coverContent
    {
        /* border: 1px solid blue; */
        width: 75%;
    }
}
@media screen and (max-width: 625px)
{
    /* Main */
    .main .mainContent .mainContentImage
    {
        width: 80%;
        /* border: 1px solid blue; */
    }
    .jacketTrinity .contentJacketTrinity h2
    {
        /* border: 1px solid yellow; */
        font-size: 18px;
        margin-top: -30px;
    }
    /* playlist */
    .linkPlaylist iframe
    {
        width: 250px;
        height: 400px;
    }
    /* buy place */
    .buyPlace
    {
        margin-bottom: 200px;
    }
    .buyPlace .contentBuyPlace .imageTitle a
    {
        font-size: 10px;
    } 
    .buyPlace .contentBuyPlace .imageTitle a img
    {
        width: 60%;
        height: 85%;
    } 
    .buyPlace .contentBuyPlace .imageTitle img
    {
        width: 60%;
        height: 90%;
    } 
    .informationBilleterie .contentInfoBilleterie .infoBilleterieContent
    {
        
        width: 60%;
        /* border: 1px solid blue; */
        text-align: center;
    }
    .informationBilleterie .contentInfoBilleterie .infoBilleterieContent h2,
    .informationBilleterie .contentInfoBilleterie .infoBilleterieContent a
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 550px)
{
    /* HEADER */
    .canvas_left, .canvas_right{
        width: 50px; 
        height: 800px;
    }
     /* MAIN */
     .main h1
     {
         font-size: 24px;
     }
     .main .mainContent .mainContentImage
    {
        width: 95%;
        /* border: 1px solid blue; */
    }
     /* BIOGRAPHIE */
     .bioContent h2
    {
        font-size: 20px;
    }
    .bioContent .contentTxtBio .txtBio
    {
        width: 70%
    }
    .bioContent .contentTxtBio .txtBio p
    {
        font-size: 14px;
    }
    /* FOOTER */
    .footer .footerContent .footerContentLogo img
    {
        height: 40%;
    }
    /* CSS ALBUM */
    /* description */
    .desAlbum .contentDesAlbum
    {
        /* border: 1px solid blue; */
        width: 70%;
        text-align: justify;
    }
    .desAlbum .contentDesAlbum p 
    {
        font-size: 14px;
    }
    .jacketTrinity .contentJacketTrinity h2
    {
        /* border: 1px solid yellow; */
        font-size: 14px;
        margin-top: -20px;
    }
     /* Billeterie section cover */
     .imageCover .contentCover .coverContent
     {
         /* border: 1px solid blue; */
         width: 85%;
     }
     .imageCover .contentCover .coverContent h2
    {
        font-size: 20px;
    }
     .informationBilleterie .contentInfoBilleterie .infoBilleterieContent
    {
        
        width: 75%;
        /* border: 1px solid blue; */
        text-align: center;
    }
}
@media screen and (max-width: 350px)
{
    .bioContent .contentTxtBio .txtBio
    {
        width: 60%
    }
    .informationBilleterie .contentInfoBilleterie .infoBilleterieContent
    {
        
        width: 60%;
        /* border: 1px solid blue; */
        text-align: center;
    }
    .informationBilleterie .contentInfoBilleterie .infoBilleterieContent h2,
    .informationBilleterie .contentInfoBilleterie .infoBilleterieContent a
    {
        font-size: 18px;
    }
}