@media screen and (max-width: 900px)
{
    .canvas_left, .canvas_right{
        width: 75px; 
        height: 800px;
    }
    .footer .footerContent{
        width: 65%;
    }
    .footer .footerContent .footerContentLogo img
    {
    height: 60%;
    }
}